body {
    min-height: 100vh;
    margin: 0;
    direction: ltr;
    background-color:rgb(0 0 0 / 85%);
}
/* ========================================================================================================================= */
:active{
    color: rgba(50, 82, 82, 0.541);
}

/* ========================================================================================================================= */
ul{
width: 66%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:center;
    flex-wrap: nowrap;
}
.apy{
    font-size: 22px;
    color: #fff;  
}

.lipo{
    display: inline-block;
    font-size: 22px;
     color: #fff;
     cursor: pointer;
}


/* ========================================================================================================================= */
.meno{

    z-index:999;
    position: fixed;
    left: 0;
    right: 0;
    margin:0 15px;
    border-radius: 10px;
    background-color:#1d1d1f;
    display: flex;
flex-direction: row;
justify-content: space-around;
align-items:center;
flex-wrap: nowrap;
}
.ing{
    width: 69px;
    filter: invert(1);
    height: auto;
    padding-top: 6px;
}

.material-icons{
    padding-top:14px ;
    color: white;
    margin:0 10px;
}

   /* ========================================================================================================================= */
 
.pak{
    background-image:url(./bg_2.jpg);
    background-size: cover;
    height: 700px;
    
}
/* ========================================================================================================================= */










/* ========================================================================================================================= */


/* .rang1{
    background-color: rgb(78 58 51);
} */

/* ========================================================================================================================= */

#padding_tb{
    padding:20PX 17px;

}

/* ========================================================================================================================= */

.bener_1{
    background-image:url(./5842951fa6515b1e0ad75ad0.png) ,url(./exJTXDm-louis-vuitton-wallpapers.jpg);
    background-size:200px,500px;
    background-position:center ;
    background-repeat:no-repeat,repeat;
    height:350px;
    border-radius: 10px;
}

/* ========================================================================================================================= */

.bener_2{
background-image:url(./Gucci-Logo-Transparent-PNG.png), url(./gucci-logo-print-12.jpg);
background-size:300px,auto;
    background-position:center,center ;
    background-repeat:no-repeat,repeat;
height:350px;
border-radius: 10px;
}

/* ========================================================================================================================= */

.bener_3{
    background-image: url(./wallpaperflare.com_wallpaper.jpg);
    background-size: contain;
    height:350px;
    border-radius: 10px;
}

/* ========================================================================================================================= */

/* .bener_4{
  background-image: url(./915774.jpg); 
  background-size:contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgba(0, 0, 0, 0.692);
  height:350px; 
} */

/* ========================================================================================================================= */

.bener_5{
    background-image: url(./png-transparent-versace-background-2.png);
    background-repeat: repeat;
    background-position: center;
    height:350px;
    border-radius: 10px;
}

/* ========================================================================================================================= */

.bener_6{
    background-image: url(./ralph\ lauren\ polo\ logo\ Logospikecom\ Famous\ and\ Free\ Vector\ Logos.jpg);
    background-size:1000px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: black;
    height:350px;
    border-radius: 10px;
}


/* ========================================================================================================================= */

.bener_7{
    background-image:url(./burberry.jpg), url(./bbb.jpg);
    background-size:500px,auto;
  background-repeat:no-repeat,repeat;
  background-position: center;
    height:350px;
    border-radius: 10px;
}

/* ========================================================================================================================= */

.card_1{
    grid-gap: 10px;
    display: grid;
    grid-template-columns:repeat(4,1fr);
    grid-template-rows:repeat(4,1fr);
padding: 20px;
    background-color: rgb(78 58 51);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    height: 400px;

}

/* ========================================================================================================================= */

.card_2{
    grid-gap: 10px;
    display: grid;
    grid-template-columns:repeat(4,1fr);
    grid-template-rows:repeat(4,1fr);
padding: 20px;
    background-color:  #bbaa87;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    height: 400px;
}

/* ========================================================================================================================= */

.card_3{
    grid-gap: 10px;
    display: grid;
    grid-template-columns:repeat(4,1fr);
    grid-template-rows:repeat(4,1fr);
padding: 20px;
    background-color:#bf4f0d;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    height: 400px;
}

/* ========================================================================================================================= */

/* .card_4{
    display: flex;
    flex-direction:row;
    justify-content:space-evenly;
    flex-wrap: nowrap;
    align-items: center;
    background-color: #404040;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    height:200px;
} */


/* ========================================================================================================================= */

.card_5{
    grid-gap: 10px;
    display: grid;
    grid-template-columns:repeat(4,1fr);
    grid-template-rows:repeat(4,1fr);
padding: 20px;
    background-color: #d0aa5e;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    height: 400px;
}


/* ========================================================================================================================= */

.card_6{
    grid-gap: 10px;
    display: grid;
    grid-template-columns:repeat(4,1fr);
    grid-template-rows:repeat(4,1fr);
padding: 20px;
    background-color:black;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    height: 400px;
}

/* ========================================================================================================================= */

.card_7{
    grid-gap: 10px;
    display: grid;
    grid-template-columns:repeat(4,1fr);
    grid-template-rows:repeat(4,1fr);
padding: 20px;
    background-color: rgb(183 153 100);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    height: 400px;
    
}
/* ========================================================================================================================= */
#matn1{
    background-color: rgb(78 58 51);
}
/* ========================================================================================================================= */
#matn2{
    background-color:  #bbaa87;
}
/* ========================================================================================================================= */
#matn3{
    background-color:#bf4f0d;
}
/* ========================================================================================================================= */
#matn5{
    background-color:  #d0aa5e;
}
/* ========================================================================================================================= */
#matn6{
    background-color:black;
}
/* ========================================================================================================================= */
#matn7{
    background-color:  rgb(183 153 100);
}
/* ========================================================================================================================= */


.matn{
    height:200px;
    width: 100%;
    margin: 0 auto;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    margin-top: 10px;
    padding-top: 10px;
}

.matnn{
    font-size: 24px;
    text-align: center;
    background-color: rgb(255, 255, 255);
    height:76%;
    width: 75%;
    margin: 0 auto;
   border-radius: 10px;
   margin-top: 10px;
   padding: 15px;
}

.summary1{
    
    background-color: rgba(78, 58, 51, 0.856); ;
    text-align: center;
}

.summary2{
    border-radius: 10px;
    background-color: rgba(78, 58, 51, 0.856); ;
    text-align: center;
}


/* ========================================================================================================================= */






/* ========================================================================================================================= */

.flex_1{
background-color: rgba(252, 252, 252, 0.863);
height:200px;
width:23%;
border-radius: 5%;
}

/* ========================================================================================================================= */

.flex_2{
    background-color: rgba(252, 252, 252, 0.863);
    height:200px;
    width:23%;
    border-radius: 5%;
}


/* ========================================================================================================================= */

.flex_3{
    background-color:  rgba(252, 252, 252, 0.863);
    height:200px;
    width:23%;
    border-radius: 5%;
}


/* ========================================================================================================================= */

.flex_4{
    background-color:  rgba(252, 252, 252, 0.863);
    height:200px;
    width:23%;
    border-radius: 5%;
}


/* ========================================================================================================================= */
footer{
    position: relative;
    color: #fff;
    background-color: #1d1d1f;
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 35px;
    padding-right: 35px;
}
/* ========================================================================================================================= */


.fo1{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    position: relative;
    width: auto;
}
/* ========================================================================================================================= */

.foo2{
    display: flex;
    flex-direction: column;
    margin-bottom:20px;

}
/* ========================================================================================================================= */

img{
    width: 69px;
    filter: invert(1);
    height: auto;
}
/* ========================================================================================================================= */

.fo2{
    display: flex;
    flex-direction: column;
   
    
}
/* ========================================================================================================================= */

.span1{
    margin-bottom:34px;
    font-size: 21px;
    font-weight: 700;
    font-style: inherit;
}
/* ========================================================================================================================= */

a{
    font-size:16px;
    color: #fff;
    margin-bottom: 18px;
    cursor: pointer;
    text-decoration: none;
}
/* ========================================================================================================================= */

.fo3{

    display: flex;
    flex-direction: column;
   
}
/* ========================================================================================================================= */

.fo4{
    display: flex;
    flex-direction: column;
   
}
/* ========================================================================================================================= */

.fo5{

    display: flex;
    flex-direction: column;
   
}

/* ========================================================================================================================= */






/* ========================================================================================================================= */

.bag-_tex{
    height: 30%;
}
/* ========================================================================================================================= */
.rengo{
    position: absolute;
    display: block;
    width: 21px;
    height: 21px;
    background-color: #ff000080;
    border-radius: 50%;
    text-align: center;
    top: -4px;
    right: -4px;
    font-size: 15px;
}
/* ========================================================================================================================= */

#rengoo{
    position: relative;
}

/* ========================================================================================================================= */

.vanm1{
    position: relative;
background-color: white;
grid-column:1/3;
grid-row:1/3;
border-radius: 10px;
background-image: url(./louis-vuitton--BC_FWE_WOMEN_EDITORIALISATION_228_LVCOM_2048x1152_DI3.webp);
background-position: top;
background-size: cover;
}


.vanm2{
    position: relative;
    background-image: url(./louis-vuitton--WOMEN_SHOES_LVTRAINER_MM_DI3.webp);
    background-color: white;
    grid-row:3/5;
    border-radius: 10px;
}

.vanm3{
    background-image: url(./louis-vuitton--ArtofLiving_ConnectedWatch_DI3_September2023.webp);
    background-size: cover;
    background-position: bottom;
    position: relative;
    background-color: white;
    grid-row:3/5;
    border-radius: 10px;
}

.vanm4{
position: relative;
    background-image: url(./swXb7ayu__720x0__1.webp);
    background-color: white;
    grid-column:3/5;
    grid-row:1/5;
    border-radius: 10px;
   
    

}
/* ========================================================================================================================= */
.vanm5{
    position: relative;
background-color: white;
grid-column:1/3;
grid-row:1/3;
border-radius: 10px;
background-image: url(./Blog\ Pic1\ .png);
background-position: top;
background-size: cover;
background-position: center;
}


.vanm6{
    position: relative;
    background-image: url(./Gucci-Shoes-for-Mens-Gucci-Sneakers-9999926430_365x420.jpg);
    background-size: cover;
    background-position: center;
    background-color: white;
    grid-row:3/5;
    border-radius: 10px;
}

.vanm7{
    background-image: url(./5e9d1b9b-14f4-4d55-bb36-2e29c1ffa75d_Untitled+Design.webp);
    background-size: cover;
    background-position: center;
    position: relative;
    background-color: white;
    grid-row:3/5;
    border-radius: 10px;
}

.vanm8{
position: relative;
    background-image: url(./PromoComponent_63670910O0G9022_001_Default.webp);
    background-size: cover;
    background-color: white;
    grid-column:3/5;
    grid-row:1/5;
    border-radius: 10px;
   
    

}

/* ========================================================================================================================= */
.vanm9{
    position: relative;
background-color: white;
grid-column:1/3;
grid-row:1/3;
border-radius: 10px;
background-image: url(./P_169_Sellier_AH23_Yellow.webp);
background-position: center;
background-size: cover;
}


.vanm10{
    position: relative;
    background-image: url(./P_34_Shoes_AH23_Femme_CARROUSEL_3.webp);
    background-size: cover;
    background-position: bottom;
    background-color: white;
    grid-row:3/5;
    border-radius: 10px;
}

.vanm11{
    background-image: url(./2137_Hermes_Watches_Wonders_7.jpg);
    background-size:578px;
    background-position: center;
    position: relative;
    background-color: white;
    grid-row:3/5;
    border-radius: 10px;
}

.vanm12{
position: relative;
    background-image: url(./download.webp);
    background-size: cover;
    background-color: white;
    grid-column:3/5;
    grid-row:1/5;
    border-radius: 10px;
   
    

}
/* ========================================================================================================================= */
/* ========================================================================================================================= */
.vanm13{
    position: relative;
background-color: white;
grid-column:1/3;
grid-row:1/3;
border-radius: 10px;
background-image: url(./hbz-liz-hurley-00-index-1553010048.jpg);
background-position:center;
background-size: cover;
background-position: center;
}


.vanm14{
    position: relative;
    background-image: url(./4444404609ad7894e40a7d8b4ffca23d089\ \(1\).webp);
    background-size: cover;
    background-position: center;
    background-color: white;
    grid-row:3/5;
    border-radius: 10px;
}

.vanm15{
    background-image: url(./VERSACE_1600x_440e7e35-3cb8-438a-82bd-eed3762d5ca3.webp);
    background-size: 487px;
    background-position: right;
    position: relative;
    background-color: white;
    grid-row:3/5;
    border-radius: 10px;
}

.vanm16{
position: relative;
    background-image: url(./best-versace-bags-301528-1659392114937-main.1200x0c.jpg);
    background-size: cover;
    background-position: center;
    background-color: white;
    grid-column:3/5;
    grid-row:1/5;
    border-radius: 10px;
   
    

}
/* ========================================================================================================================= */
/* ========================================================================================================================= */
.vanm17{
    position: relative;
background-color: white;
grid-column:1/3;
grid-row:1/3;
border-radius: 10px;
background-image: url(./53_367940e2-e857-4f07-b91f-7ef97c0dba60_700x.webp);

background-size: cover;
background-position: center;
}


.vanm18{
    position: relative;
    background-image: url(./wk32_2023_spec_worl_brandshop_polo_rl_shoes_fh.jpg);
    background-size: 513px;
    background-position: right;
    background-color: white;
    grid-row:3/5;
    border-radius: 10px;
}

.vanm19{
    background-image: url(./ralph2023000716by9.avif);
    background-size: cover;
    background-position: center;
    position: relative;
    background-color: white;
    grid-row:3/5;
    border-radius: 10px;
}

.vanm20{
position: relative;
    background-image: url(./w2000_q60.avif);
    background-size: cover;
    background-position:center;
    background-color: white;
    grid-column:3/5;
    grid-row:1/5;
    border-radius: 10px;
   
    

}
/* ========================================================================================================================= */
.vanm21{
    position: relative;
background-color: white;
grid-column:1/3;
grid-row:1/3;
border-radius: 10px;
background-image: url(./burberry-street-style.webp);
background-position: top;
background-size: cover;
background-position: center;
}


.vanm22{
    position: relative;
    background-image: url(./Burberry-Shoes-for-Mens-Sneakers-A22179_03_800x800.jpg);
    background-size: cover;
    background-position: center;
    background-color: white;
    grid-row:3/5;
    border-radius: 10px;
}

.vanm23{
    background-image: url(./product-jpeg-1000x1000.webp);
    background-size: cover;
    background-position: center;
    position: relative;
    background-color: white;
    grid-row:3/5;
    border-radius: 10px;
}

.vanm24{
position: relative;
    background-image: url(./ff3563cc8b32cbcfe27e8198e7732c2b.webp);
    background-position: center;
    background-size: cover;
    background-color: white;
    grid-column:3/5;
    grid-row:1/5;
    border-radius: 10px;
   
    

}
/* ========================================================================================================================= */

.bagg{
    color: white;
    font-size: 50px;
    text-shadow: 2px 2px rgb(255 255 255 / 30%);
    position: absolute;
    right: 39%;
    bottom: 47%;
    background-color:  #000000e3;
    border-radius: 22%;
    
}
/* ========================================================================================================================= */
.ba1g{
    color: white;
    font-size: 40px;
    text-shadow: 2px 2px rgb(255 255 255 / 30%);
    position: absolute;
    left: 11%;
    bottom: 74px;
    background-color: #000000e3;
    border-radius: 22%;
}

/* ========================================================================================================================= */
.ba2g{
    color: white;
    font-size: 43px;
    text-shadow: 2px 2px rgb(255 255 255 / 30%);
    position: absolute;
    bottom: 6px;
    background-color: #000000e3;
    border-radius: 22%;
    left: 62px;
}

/* ========================================================================================================================= */
.ba3g{
    color: white;
    font-size: 41px;
    text-shadow: 2px 2px rgb(255 255 255 / 30%);
    position: absolute;
    bottom: 6px;
    background-color: #000000e3;
    border-radius: 22%;
    /* left: 62px; */
    right: 15%;
}

/* ========================================================================================================================= */
.tr1{
    color: white;
    text-align: center;
    font-size: 36px;

}

/* ========================================================================================================================= */
#ter1{
    background-color: rgb(78 58 51);
}
#ter2{
    background-color:  #bbaa87;
}
#ter3{
    background-color:#bf4f0d;
}
#ter4{
    background-color:  #d0aa5e;
}
#ter5{
    background-color:black;
}
#ter6{
    background-color:  rgb(183 153 100);
}
/* ========================================================================================================================= */
.relv{
    color: black;
    text-decoration: none;
    position: fixed;
    bottom: 4%;
    right: 2%;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    background-color: rgb(255 255 255);
    display: inline-block;
    text-align: center;
    line-height: 60px;
    font-size: 50px;
    z-index: 555;
}






